.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.container {
  width: 300px;
  margin: 30px;

}

.box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 40px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.image img {
  width: 100%;
}

.content {
  padding: 20px;
}

.content h3 {
  margin: 0;
}

.content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}

.content span {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.option{
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  text-align: right;
  padding: 10px;
}
