<h2 class="title">Your Cart</h2>
<div class="cart">
    <div class="products">
      <div class="container" *ngFor="let item of items">
        <div class="box">
          <div class="image">
            <img decoding="async" src="{{ item.image }}" alt="" >
          </div>
          <div class="content">
            <h3>{{item.title}}</h3>
            <!-- <p> {{ item.description }} </p> -->
            <span><strong>Price: {{item.price}}$</strong></span>
            <span><strong>Total Items: {{ item.quantity }}</strong></span>
            <span><strong>Total Price: {{ item.price * item.quantity }}$</strong></span>
            <button (click)="removeItem(item)">Delete Item</button>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="form" >
        <form [formGroup]="cartForm">
          <h2>Please Enter Your Data</h2>
          <label>Full Name</label>
          <input class="name" type="text" formControlName="name" placeholder="Enter Your Full Name" (ngModelChange)="onNameChange($event)" >
          <!-- <div *ngIf="cartForm.controls.name.touched && cartForm.controls.name.invalid">
            <p *ngIf="cartForm.controls.name.errors?.['required']">Please enter Your Name</p>
            <p *ngIf="cartForm.controls.name.errors?.['minlength']">You must enter at least 4 characters</p>
          </div> -->
          <br>
          <label>Address</label>
          <br>
          <input class="address" type="text" formControlName="address" placeholder="Enter Your Address" >
          <div *ngIf="cartForm.controls.address.touched && cartForm.controls.address.invalid">
            <p *ngIf="cartForm.controls.address.errors?.['required']">Please enter Your Address</p>
            <p *ngIf="cartForm.controls.address.errors?.['minlength']">You must enter at least 4 characters</p>
          </div>
          <br>
          <label>Credit Card Number</label>
          <input class="card" type="text" formControlName="creditCard" placeholder="(16-digit number)" pattern="[0-9]*" >
          <div *ngIf="cartForm.controls.creditCard.touched && cartForm.controls.creditCard.invalid">
            <p *ngIf="cartForm.controls.creditCard.errors?.['required']">Please enter Your Credit Card Number</p>
            <p *ngIf="cartForm.controls.creditCard.errors?.['minlength']">You must enter 16 digits</p>
            <p *ngIf="cartForm.controls.creditCard.errors?.['pattern']">Please enter numbers only.</p>
          </div>
          <br>
          <label>Feedback</label>
          <textarea class="feedback" formControlName="feedback" placeholder="Enter Your Feedback" ></textarea>
          <p class="info">We will never share your payment details with anyone else </p>
          <button routerLink = "/success"  class="submit" type="submit" [disabled]="cartForm.invalid" (click)="submitForm()">Submit</button>
        </form>
      </div>
    </div>
</div>

<span class="total"><strong> Total Price: {{total}}$</strong></span>

<!-- <app-success [name]="cartForm.value.name" [address]="cartForm.value.address"></app-success> -->
<!-- [(ngModel)]="name"
//[(ngModel)]="address"
//[(ngModel)]="creditCard"
//[(ngModel)]="feedback"-->
